@import 'tailwindcss' source('.');
@import '@wallet-ui/tailwind/index.css';
@plugin "daisyui" {
  themes: dark --default --prefersdark;
  @theme {
    --color-red: #ff3c3c;
  }
}

@layer base {
  @font-face {
    font-family: GT Pressura Mono;
    font-weight: normal;
    src: url(/fonts/GT-Pressura-Mono-Regular-Trial.otf) format('woff');
  }
  @font-face {
    font-family: GT Pressura Mono;
    font-weight: normal;
    font-style: italic;
    src: url(/fonts/GT-Pressura-Mono-Regular-Italic-Trial.otf) format('woff');
  }
  @font-face {
    font-family: GT Pressura Mono;
    font-weight: lighter;
    src: url(/fonts/GT-Pressura-Mono-Light-Trial.otf) format('woff');
  }
  @font-face {
    font-family: GT Pressura Mono;
    font-weight: lighter;
    font-style: italic;
    src: url(/fonts/GT-Pressura-Mono-Light-Italic-Trial.otf) format('woff');
  }
  @font-face {
    font-family: GT Pressura Mono;
    font-weight: bold;
    src: url(/fonts/GT-Pressura-Mono-Bold-Trial.otf) format('woff');
  }
  @font-face {
    font-family: GT Pressura Mono;
    font-weight: bold;
    font-style: italic;
    src: url(/fonts/GT-Pressura-Mono-Bold-Italic-Trial.otf) format('woff');
  }
}

* {
  font-family: 'GT Pressura Mono', sans-serif;
}

.clip-path {
  clip-path: polygon(
    0 0,
    0 100%,
    0 79%,
    100% 79%,
    100% 81%,
    0 81%,
    0 100%,
    100% 100%,
    100% 0%
  );
}

[data-wu='base-button'] {
  color: #ff3c3c;
  background-color: transparent;
  border: none;
  border-radius: 0 !important;
  border: 2px solid;
}
[data-wu='base-button']:hover {
  background-color: transparent;
  color: #ff3c3c;
}

[data-wu='base-button']:focus {
  outline: 1px solid #ff3c3c;
  box-shadow: none;
}

[data-wu='base-dropdown-list'] {
  border-color: #ff3c3c;
  z-index: 1000;
}

[data-wu='base-dropdown-list'],
[data-wu='base-dropdown-list'] button {
  background-color: black;
  color: #ff3c3c;
}

.diamond {
  background-color: unset !important;
  background-blend-mode: hue;
  background-image: linear-gradient(
      to top left,
      #f89dff 20%,
      #7fffce,
      #f89dff 80%
    ),
    linear-gradient(to top right, #f89dff 20%, #7fffce, #f89dff 80%),
    linear-gradient(to bottom left, #f89dff 20%, #7fffce, #f89dff 80%),
    linear-gradient(to bottom right, #f89dff 20%, #7fffce, #f89dff 80%);
}

.scrollbar::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #f7f4ed;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #e0cbcb;
  border-radius: 100vh;
  border: 3px solid #f6f7ed;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #c0a0b9;
}
